body {
	color: $text-color;
	background: #fdfff7;
    overflow-x: hidden;
}

a {
	color: #8f3259;
}

a:hover {
	text-decoration: none;
	color: #607D8B;
}

.back-to-top {
	display: none;
    position: fixed;
    bottom: 35px;
    right: 30px;
    text-align: center;
    border: 2px solid #bbbbbb;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 27px;
    cursor: pointer;
    z-index: 999;
}

.scroll {
    position: relative;
    font-size: 0.9em;
    margin-top: 20px;
    display: inline-block;
    height: 90px;
    color: #006680;
}

.scroll:after {
	content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}

.scroll:after {
    border-right: 2px solid #006680;
    border-bottom: 2px solid #006680;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes arrow {
	0%,100% {
		top:10px;
	}
	50% {
		top:30px;
	}
}
@keyframes arrow {
	0%,100% {
		top:10px;
	}
	50% {
		top:30px;
	}
}

body.templates-page {
	background: url(/images/flower_pattern.png);
    background-color: #d5d8af;

    .inner-page {
	    background: rgba(255,255,255,0.5);
	    padding-top: 10px;
    }
}

body.products-page {
	background: url(/images/spirel_pattern.png);
    background-color: rgba(234, 211, 234, 0.6);

    .inner-page {
    	background: rgba(255,255,255,0.7);
    	padding-top: 10px;
    }
}

body.contactus-page {
	background: url(/images/hexagon.png) #adb776;

	.inner-page {
    	background: rgba(255,255,255,0.6);
    	padding-top: 10px;
    }
}

body.aboutus-page {
	background: url(/images/rose_pattern_tp.png);
    background-color: rgba(211, 234, 212, 0.7);

    .inner-page {
    	background: rgba(255,255,255,0.6);
    	padding-top: 10px;
    }
}

body.downloads-page {
	background: url(/images/snowflake_pattern.jpg);

	.inner-page {
    	background: rgba(255,255,255,0.6);
    	padding-top: 10px;
    }
}

.ft-overflow-hidden {
	overflow: hidden !important;
}

#page_preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	/*background: url(/images/flower_pattern.jpg);*/
	background-color: #e2e2e2; /* change if the mask should have another color then white */
	z-index:9999; /* makes sure it stays on top */
}

.form-control, .input-group-addon {
	border: 1px solid #d4d4d4;
}

.error-block {
	color: red;
	font-size: 12px;
}

.text-emp {
	font-size: 1.2em;
    font-weight: 500;
}

.ft-main-container {
	margin-top: 51px;
}

.ft-buttons {
	text-align: center;
	
	.platform-btn {
        position: relative;
	    display: inline-block;
	    padding: 15px;
	    width: 75px;
	    height: 75px;
	    cursor: pointer;
	    margin: 0px 5px;
	    border-radius: 40px;
	    border: 1px solid #90abb3;
	    text-align: center;
	    color: #004454;
	    line-height: 1;
	    /* box-shadow: 0 0 50px -5px #404040; */
	    -webkit-transition:border-color 0.4s ease;
	    -moz-transition:border-color 0.4s ease;
	    -o-transition:border-color 0.4s ease;
	    transition:border-color 0.4s ease;


		/* .ft-windows {
			height: 50px;
			background: url(/images/win_icon.png) no-repeat center center;
		    background-size: contain;
		}

		.ft-mac {
			height: 50px;
			background: url(/images/mac_icon.png) no-repeat center center;
		    background-size: contain;
		} */

		a {
			color: #004454;
		}

		a:hover {
			color: #00748e;
		}

		.text {
			font-size: 16px;
			margin-top: 10px;
		}

		.platform {
			font-size: 10px;
		}
	}

	.platform-btn:hover {
		border-color: #006680;
		color: #00748e;

		a {
			color: #00748e;
		}
	}		
}

.special-notice {
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #3e3e3e;
    margin-top: 30px;
    box-shadow: 0 0px 20px -1px #555;
    width: 300px;

    .notice-header {
	    font-size: 18px;
	    font-weight: 500;
	    background: #333333;
	    color: #fff;
	    border-radius: 10px;
	    margin-bottom: 5px;
    }
}

.ft-head {
	position: relative;
	width: 100%;
	text-align: center;
	background: url(/images/header.jpg) no-repeat center center fixed #000;
    color: #fff;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	.ft-content {
	    position: relative;
	    top: 80px;
	    width: 100%;

	    .key-points {
	    	text-align: left;

	    	ul {
	    		list-style: none;
	    		width: 100%;
    		    padding-left: 0px;

	    		li {
	    			font-size: 14px;
				    font-weight: 500;
				    color: #004454;
				    /* border-bottom: 1px dashed #004454; */
				    padding: 6px 0;
				    background: -webkit-gradient(linear, left top, right top, from(#131313), color-stop(#292929), color-stop(rgba(68, 68, 68, 0.8)), color-stop(rgba(105, 105, 105, 0.5)), color-stop(rgba(105, 105, 105, 0.3)), to(rgba(31, 31, 31, 0)));
				    background: linear-gradient(90deg, #ffffff, #fffefe, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), rgba(31, 31, 31, 0));
				    border-left: 4px solid #dc4e88;
				    margin-bottom: 4px;
				    padding-left: 10px;
	    		}
	    	}
	    }

	    .special-news {
    	    width: 90%;
		    border: 3px dashed #d6159b;
		    border-radius: 10px;
		    margin: 0 auto;
		    padding: 10px;
		    background: url(/images/offer.gif) #e6e6e6;
		    color: #444;
		    box-shadow: 0 0px 20px -1px #555;

		    .news-header {
		    	font-size: 20px;
			    /* font-weight: bold; */
			    font-family: 'Michroma', sans-serif;
			    margin-bottom: 3px;
			    color: #1d989e;
		    }

		    .news-body {
		    	font-size: 16px;
		    	color: #db4e88;
		    }

		    .news-footer {
		    	font-size: 14px;
			    padding: 3px;
			    background: #db4e88;
			    color: #ffffff;
			    font-weight: 500;
			    margin-top: 5px;
		    }
	    }

		.ft-banner {
		    position: relative;
		    width: 100%;
	        margin-bottom: 20px;
		    text-align: center;
			/*background: url(/images/banner_web.png) no-repeat center center;*/

			img {
				width: 250px;
			}
		}
	}

	.header-bottom {
		position: absolute;
	    width: 100%;
	    bottom: 0px;
	    padding: 5px;
	}
}

.slogan {
	font-size: 60px;
    font-family: 'Poiret One', cursive;
    text-shadow: 1px 1px 7px #717171;
    color: #005369;
    margin-top: 20px;
}

.down-for-this-computer {
    .photobook-version {
		font-size: 14px;
	}

	.ft-platform {
		font-size: 10px;
	}
}

.ft-summary {
	position: relative;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	margin: 10px;
	width: 100%;
	border: 3px dashed #fff;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px 0 #656464;

	.summary-icon {
		position: relative;
		margin: 0 auto;
	    width: 70px;
	    height: 70px;
	    border-radius: 35px;
		border: 5px solid #d6d4d4;
		color: #fff;
		padding: 10px;
		font-size: 25px;
		margin-bottom: 5px;
	}

	.ft-summary-details {
		font-weight: normal;
		font-size: 13px;

		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
		}
	}
}

.ft-summary-box-one {
	background: #8BC34A;
	background: linear-gradient(45deg, rgba(139, 195, 74, 0.5), rgba(139, 195, 74, 0.8), rgba(91, 142, 33, 0.9));

	.summary-icon {
		background: #33691E;
	}
}

.ft-summary-box-two {
	background: #FF9800;
	background: linear-gradient(45deg, rgba(255, 152, 0, 0.5), rgba(255, 152, 0, 0.8), rgba(199, 120, 2, 0.9));

	.summary-icon {
		background: #E65100;
	}
}

.ft-summary-box-three {
	background: #03A9F4;
	background: linear-gradient(45deg, rgba(3, 169, 244, 0.5), rgba(3, 169, 244, 0.8), rgba(1, 131, 189, 0.9));

	.summary-icon {
		background: #01579B;
	}
}

.ft-summary-box-foure {
	background: #CE93D8;
	background: linear-gradient(45deg, rgba(206, 147, 216, 0.5), rgba(206, 147, 216, 0.8), rgba(150, 88, 160, 0.9));

	.summary-icon {
		background: #6A1B9A;
	}
}

.ft-summary-box-five {
	background: #CDDC39;
	background: linear-gradient(45deg, rgba(205, 220, 57, 0.5), rgba(205, 220, 57, 0.8), rgba(128, 140, 27, 0.9));

	.summary-icon {
		background: #AD1457;
	}
}

.ft-summary-box-six {
	background: #78909C;
	background: linear-gradient(45deg, rgba(120, 144, 156, 0.5), rgba(120, 144, 156, 0.8), rgba(72, 91, 101, 0.9));

	.summary-icon {
		background: #37474F;
	}
}

.ft-sub-section {
	padding: 20px 0;

	.ft-content {
		.ft-inner {
			margin: 20px 0;
			margin-top: 0;
		}
	}

	h3 {
		margin-top: 0;
	}
}

#why_photobook {
    background: rgba(255,255,255,0.5);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 5px;

    p {
    	margin-bottom: 0px;
    }
}

.about-section {
    background: url(/images/rose_pattern_tp.png);
    background-color: rgba(211, 234, 212, 0.6);

	.ft-summary {
		display: none;
	}
}

.our-services-section {
	background: url(/images/spirel_pattern.png);
    background-color: rgba(234, 211, 234, 0.6);

    .desc {
    	background: rgba(255,255,255,0.5);
	    padding: 10px 15px;
	    border-radius: 10px;

	    p {
	    	margin-bottom: 0px;
	    }
    }
}

.latest-templates-section {
	background: url(/images/flower_pattern.png);
   	background-color: #d5d8af;

	.templates-list {
		margin-top: 30px;
	}

	.show-all-btn {
		background: #668212 !important;
	}

	.show-all-btn:hover {
		background: #789423;
	}

	.desc {
    	background: rgba(255,255,255,0.5);
	    padding: 10px 15px;
	    border-radius: 10px;

	    p {
	    	margin-bottom: 0px;
	    }
    }
}

.ft-service-box {
	position: relative;
	width: 100%;
    margin: 30px 0;
    padding: 10px;
    background: rgba(201, 215, 222, 0.6);
    border: 1px solid #ababab;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #868686;
    color: #000;

    .btn-pannel {
	    margin-top: 5px;
    	text-align: right;
    }

	.ft-service-icon {
		display: inline-block;
	    width: 100px;
    	height: 100px;

		img {
			width: 100px;
		}
	}

	.ft-service-detail {
		display: inline-block;
		width: calc(100% - 104px);
    	vertical-align: top;
    	font-size: 13px;

    	h4 {
    		margin-top: 5px;
    		margin-bottom: 5px;
    	}
	}

	.round-icon-lg.themes-box {
	    border: 5px solid #ffc9cf;
    	background: radial-gradient(#ef5350, #e53935, #8e0707);
	    text-shadow: 2px 2px 2px #a91e1e;
	}

	.round-icon-lg.album-design-box {
		font-family: Flaticon;
	    border: 5px solid #92d3f1;
	    background: radial-gradient(#29B6F6, #039BE5, #00467d);
	    text-shadow: 2px 2px 2px #075b82;
	}

	.round-icon-lg.font-design-box {
        border: 5px solid #8fa8b3;
	    background: radial-gradient(#677982, #364952, #1b262b);
	    text-shadow: 2px 2px 2px #1e272b;
	}

	.round-icon-lg.artwork-design-box {
		font-family: Flaticon;
        border: 5px solid #dfb6e6;
	    background: radial-gradient(#BA68C8, #8636a9, #3a0977);
	    text-shadow: 2px 2px 2px #440067;
	}
}

.round-icon-lg {
	position: relative;
    width: 90px;
    height: 90px;
    border-radius: 45px;
	border: 3px solid #000;
	color: #efefef;
	padding: 10px;
	text-align: center;
	font-size: 36px;
}

.navbar {
    border-bottom: none;
    box-shadow: 0 1px 10px -2px #000;
    margin-bottom: 0;

    .navbar-nav > li > a {
    	font-weight: 500;
    }

    li.app-key-link {
    	background: url(/images/button_bg_logo.png) no-repeat bottom left #d64e0e;
	    height: 52px;

    	a {
    		color: #fff;
    		font-weight: bold;
		    padding: 7px 20px;
    		line-height: 1.4;
    		text-align: center;
    	}
    }
}

.navbar-inverse {
	background-color: #1f1f1f;

	.navbar-nav > li > a {
		color: #e2e2e2;
	}

	.navbar-nav .active > a {
		color: #fdfdfd;
	    background-color: #000000;
	    border-bottom: 2px solid #f379ab;
	}
} 

.navbar-brand {
	padding: 3px 15px;
}

.contact-us-section {

	background: url(/images/hexagon.png) #adb776;

	.container {
		background: rgba(255,255,255,0.5);
	    border-radius: 10px;
	    box-shadow: 0 0 10px #444;
	}

	.conactus-via-phone {
	    margin-top: 30px;
	    text-align: center;
	    border: 2px dashed gray;
	    border-radius: 10px;
	    padding: 10px;
	    width: 400px;
	    margin: 30px auto;
	}

	.phone {
		font-size: 30px;
    	font-weight: bold;
	}
}

.conactus-via-phone {
    margin-top: 30px;
    text-align: center;
    border: 2px dashed gray;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: 30px auto;
}

.phone {
	font-size: 30px;
	font-weight: bold;
}

.footer {
    height: 250px;
    background: #101010;
    color: #8c8c8c;
    padding: 20px 0;

    .ft-buttons {
    	.platform-btn {
    		margin: 10px;

    		a {
    			color: #fff;
    		}
    	}

    	.platform-btn:hover {
    		border-color: #006680;
			color: #00748e;

			a {
				color: #00748e;
			}
    	}
    }

    .down-for-this-computer {
    	display: inline-block;
	    position: relative;
	    text-align: center;
	    color: #fff;
	}

    a, a:visited, a.visited, a:focus, a.focus {
    	color: #fff;
    	text-decoration: none;
    }

    a:hover {
    	color: #8c8c8c;
    	text-decoration: none;
    }

    .copyright {
    	font-size: 12px;
    	margin-top: 10px;
    }

    ul.footer-menu {
    	list-style: none;
    	padding: 0;
    	width: 150px;

    	li {
		    font-size: 12px;
		    padding: 2px 0;
		    border-bottom: 1px dashed #383838;
    	}
    }

    .payment-option {
    	text-align: center;
	    margin-bottom: 30px;

    	img {
    		height: 60px;
    		width: auto;
    		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    		filter: grayscale(100%);
    	}
    }

    .footer-contact {
    	margin-top: 10px;
    }
}

.ft-truncate {
  	width: 99%;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.no-template {
	border: 3px dashed rgb(241, 143, 183);
    text-align: center;
    padding-top: 60px !important;
    padding-bottom: 70px !important;
    font-weight: 500;
    color: #585858;

    .title {
    	font-size: 30px;
    }

    .desc {
    	font-size: 13px;
    }
}

.ft-template-box {
	box-shadow: 0 0 8px -1px #333;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    margin-bottom: 30px;
    /*min-height: 311px;*/

    .album-title {
    	position: relative;
    	display: inline-block;
    	width: 92%;
    }

    .btn-zoom {
	    width: 40px;
	    height: 40px;
	    border-radius: 20px;
	    text-align: center;
	    padding: 8px;
	    margin-top: -17px;
	    background: #eee;
    }

    .enlarge-icon {
	    position: relative;
	    display: inline-block;
	    width: 6%;
	    text-align: center;
	    color: #7d7d7d;
	    font-size: 16px;
	    vertical-align: top;
    }

	h4 {
		margin-top: 0px;
		color: #90325a;
		font-size: 20px;
	}

	.album-thumb {
		text-align: center;
    	overflow: hidden;
    	background: url(/images/no-preview.png);
	    height: 100px;

    	img.has-thumbnail {
    		width: 100%;
    		height: auto;
    	}
	}

	.album-sizes {
		margin: 5px 0;

		.badge {
			font-size: 11px;
		}

		.badge.selected {
			background: #70b703;
		}
	}

	.album-info {
	    margin: 5px 0;
    	border-top: 1px solid #adadad;
    	padding: 5px 0;

		.item {
			font-weight: 500;
		    background: #ffffff;
		    color: #7d7d7d;
		    padding: 3px 10px;
		    font-size: 13px;
		}
	}
}

.album-buttons {
	text-align: right;
    padding: 3px;
    background: #eee;
    border-radius: 5px;

	.price {
	        display: inline-block;
		    vertical-align: middle;
		    line-height: 0.9;
		    font-weight: bold;
		    color: #ff0089;
		    font-size: 18px;
		    border-right: 3px solid #ff0089;
		    padding-right: 5px;

	    .price-usd {
	    	font-size: 13px;
			font-weight: normal;
	    }
	}

	.ft-btn, .ft-btn:visited {
	    background: #8e0059;
		height: 32px;
		outline-color: #b900a0;
	    margin: 0 10px;
	}

	.ft-btn:first-child {
		margin-left: 0;
	}

	.ft-btn:last-child {
		margin-right: 0;
	}

	.ft-btn:hover, .ft-btn:focus, .ft:active {
		background: #bd0077;
		outline-color: #b900a0;
	}

	.label-bought {
		display: inline-block;
	    padding: 5px 10px;
	    background: #d0d0d0;
	    border-radius: 3px;
	}

	ul.dropdown-menu {
		background: #eee;

		li {
			padding: 3px 10px;
			font-size: 12px;
    		font-weight: 500;
		}

		li.label-bought {
			display: list-item;
			border-radius: 0;
		}

		li:hover {
			background: #d8d8d8;
		}
	}

	.discount-price {
		font-weight: 500;
	    font-size: 16px;
	    position: absolute;
	    bottom: 42px;
	    left: 25px;
	    padding: 5px 10px;
	}

	.coming-soon {
	    background: #8e0059;
	    height: 32px;
	    outline-color: #b900a0;
	    color: #fff;
	    padding: 7px 10px;
	    font-weight: 500;
	    border-radius: 5px;
	}
}

.today-currency-rates {
	position: fixed;
    top: 50px;
    right: 1px;
    z-index: 99;
    padding: 3px 10px;
    font-size: 11px;
    background: #b91e74;
    font-weight: 600;
    color: #ffffff;
    border-radius: 3px;
}

.label-lg {
	font-size: 10px;
}

.ft-template-box:hover {
    box-shadow: 0 0 20px -2px #333;
}

.flaticon {
	font-family: 'Flaticon';
}

.ft-btn, .ft-btn:visited {
    background: #487298;
    color: #ffffff;
    font-weight: 500;
    min-width: 100px;
    box-shadow: none;
    margin: 0 10px;
}

.ft-btn:first-child {
	margin-left: 0;
}

.ft-btn:last-child {
	margin: 0;
}

.ft-btn:hover, .ft-btn:focus, .ft:active {
	background: #5387b5;
    color: #ffffff;
    box-shadow: none;
}

.ft-btn * {
	vertical-align: middle;
}

#template_preview {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 374px;
	background: url(/images/no-preview.png) #333;
}

#template_preview_modal {
	.modal-lg {
		width: 1030px;
		margin-top: 60px;
	}

	.temp-prev-thumb {
		position: relative;
		width: 100%;
		height: 350px;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.loading-div {
		position: relative;
	    width: 100%;
	    height: 300px;
	    top: 50%;
	}

	.modal-content {
		background: #d4d4d4;
	}

	.modal-footer {
	    padding-top: 0;
	    border-top: none;
	    text-align: left;

		.footer-title {
			h3 {
				margin: 0;
				color: #000;
				text-shadow: 1px 1px 7px #0a0a0a;
			}
		}
		
		.hint {
			font-size: 13px;
    		color: #1b1b1b;
    		margin-top: 5px;
		}
	}

	.carousel {
		.no-thumb {
			color: #777;
		    height: 374px;
		    text-align: center;
		    padding-top: 50px;
		}

		.bb-bookblock {
			width: 1000px;
    		height: 417px;
		}

		.bb-nav {
			margin: 3px 5px;
		}

		nav {
			text-align: center;
			padding-top: 5px;
		}

		.carousel-caption {
			padding-bottom: 45px;
		}

		.carousel-indicators {
			background: rgba(0,0,0,0.45);
		    padding: 5px;
		    border-radius: 5px;
		}
	}
}

#user_guide_modal {
	.modal-header {
	    background: #eee;
    	border-radius: 10px 10px 0 0;

		h3 {
			margin: 10px 0;
		}
	}

	.modal-footer {
		background: #eee;
    	border-radius: 0 0 10px 10px;
	}
}

#tc_modal {
	.modal-header {
	    background: #eee;
    	border-radius: 10px 10px 0 0;

		h3 {
			margin: 10px 0;
		}
	}

	.modal-body {
		overflow-y: auto;
    	height: 450px;
    	font-size: 13px;
	}

	.modal-footer {
		background: #eee;
    	border-radius: 0 0 10px 10px;
	}
}

.swal2-modal {
	font-family: inherit !important;
	.swal2-title {
		font-size: 24px !important;
	}
}

.loading-swal {
	.swal2-title {
		margin: 5px !important;
    	font-weight: normal !important;
	}
}

.swal-loading {
	font-size: 20px;
}

.loading-div {
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(176,176,176, 0.2);
  border-right: 1.1em solid rgba(176,176,176, 0.2);
  border-bottom: 1.1em solid rgba(176,176,176, 0.2);
  border-left: 1.1em solid #b0b0b0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#ft_shop_collection {
	position: relative;
    width: 124px;
    height: 51px;
    padding: 0;
    margin: 0;
    margin-right: -15px;
    background: #d80288;
    cursor: pointer;

	.icon {
	    position: relative;
	    display: inline-block;
	    width: 50px;
	    height: 45px;
	    margin: 3px 0;
	    padding: 4px;
	    border-right: 1px solid #fff;
	    text-align: center;
	    font-size: 28px;
	    color: #fff;

		.fa {
		    vertical-align: text-top;
		}
	}

	.collection-items {
		    display: inline-block;
		    width: 70px;
		    height: 51px;
		    padding: 5px;
		    font-size: 28px;
		    color: #fff;
		    text-align: center;
		    vertical-align: bottom;
	}
}

.odd-bg, .bg_0 {
	background: #eee;
}

.even-bg, bg_1 {
	background: #fff;
}

#shop_collection_modal {
	.modal-header {
		background: #8a005d;
	    color: #fff;
	    border-radius: 5px 5px 0 0;
	    padding: 10px 15px;
	    border-bottom: none;

	    .item-count {
	    	font-size: 18px;
	    	font-weight: normal;
	    }

	    h4 {
	    	font-weight: bold;
    		font-size: 20px;
	    }
	}

	.modal-footer {
	    background: #e2e2e2;
	    border-top: none;
	    border-radius: 0 0 5px 5px;
	}
}

.shoping-items-list {
	.shoping-item {
		padding: 10px 5px;
	    margin-bottom: 1px;

	   	.shoping-item-name {
   		    font-size: 18px;
		    width: 70%;
		    display: inline-block;
		    vertical-align: top;

	   		.item-type {
				font-size: 14px;
	   		}

	   		.remove-item {
	   			cursor: pointer;
	   		}
	   	}

	   	.shoping-item-price {
	   		text-align: right;
		    font-size: 18px;
		    color: #e20099;
		    width: 29%;
		    display: inline-block;
	        line-height: 1;

	        .price-usd {
	        	font-size: 12px;
	        	color: #6b6b6b;
	        }
	   	}
	}

	.total-amout {
   		padding: 10px 5px;
	    text-align: right;
	    font-size: 24px;
	    border-top: 2px dashed #bbb;
	    color: #e20099;
	    font-weight: bold;
	    line-height: 1;

	    .price-usd {
        	font-size: 16px;
        	font-weight: bold;
        	color: #6b6b6b;
        }
   	}
}

.inner-page {
	margin-top: 30px;
    margin-bottom: 30px;
    h3 {
    	margin-top: 5px;
    }
}

.popover {
	/*width: 220px;*/
	font-size: 12px;
}

.help-popover {
	border-bottom: 1px dashed;
	border-color: inherit;
	cursor: help;
}

.download-item {
	padding: 3px 0;
    border-bottom: 1px dashed #a0a0a0;
    font-size: 12px;

    .download-item-desc {
    	display: inline-block;
	    width: 70%;
    }

    .download-item-actions {
	    display: inline-block;
	    width: 29%;
    }
}

.change-logs {
	margin-top: 30px;
}

.change-log {
    padding: 5px 0;
	border-bottom: 1px dashed #a0a0a0;
}

.templates {
	margin: 30px 0;
}

.navbar-right {
	margin-right: 5px;
}

.panel-default {
	border-color: $panel-default-heading-text-color;

	.panel-heading {
		background: $panel-default-heading-bg;
		color: $panel-default-heading-text-color;
	}

	.panel-body {
		background: $panel-default-body-bg;
		padding: 20px 15px;
	}
}

.alert {
	position: fixed;
    width: 100%;
    z-index: 99;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    left: 0;
}

.alert-info {
	background-color: rgb(22, 163, 195);
    color: #ffffff;
}

.alert-info:before {
	content: '\f05a';
	font-family: FontAwesome;
}

.alert-success {
    background-color: #24a015;
    color: #ffffff;
}

.alert-success:before {
	content: '\f00c';
	font-family: FontAwesome;
}

.alert-danger {
    background-color: #d60d0d;
    color: #ffffff;
}

.alert-danger:before {
	content: '\f071';
	font-family: FontAwesome;
}

.alert-warning {
	background-color: #ffe9ce;
    color: #ad1111;
}

.alert-warning:before {
	content: '\f06a';
	font-family: FontAwesome;
}

table.checkout-table {
	width: 100%;
	text-align: right;

	th, td {
		text-align: right;
		padding: 5px 10px;
	}

	.price-usd {
		font-size: 12px;
	}

	.total-price {
		border-top: 1px solid $text-color;
		border-bottom: 4px double $text-color;
		font-size: 18px;
	}
}

.payment-options {
	width: 100%;
	padding: 10px 0;

	.item {
		position: relative;
		padding: 5px;
		border: 1px solid #a9a9a9;
		background: #fff;
	    box-shadow: 0 0 15px -2px #7b7b7b;
		border-radius: 10px;
		cursor: pointer;
		text-align: center;
	    margin-bottom: 10px;

		.payment-icon {
			img, .fa {
				height: 60px;
				width: auto;
			}

			.fa {
				padding: 5px;
			}
		}
		
		.payment-name {
			margin-top: 10px;
		}
	}

	.item:hover {
		background: #eee;
	}
}

.not-available {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 5px;
	background: rgba(0,0,0,0.8);
	text-align: center;
	color: #fff;
	display: none;
	cursor: not-allowed;
	border-radius: 5px;

	.text {
		margin-top: 20px;
	}
}

.na {
	.not-available {
		display: block;
	}
}

.notification-badge {
	vertical-align: super;
}

.badge-danger, .badge-red {
	background: #de1c1c;
}

.badge-blue {
	background: #0aa8e4;
}

.badge-green {
	background: #04a010;
}

.badge-brown {
	background: #a04c04;
}

.badge-gray {
	background: #797979;
}

.hint {
	font-size: 13px;
    color: #777;
    padding: 5px 0;
}

.hint:before {
	content: '\f05a';
    padding-right: 5px;
    font-family: 'FontAwesome';
}

.purchase-records {
	width: 100%;

	td {
		padding: 5px;
		font-size: 12px;
	}
}

.inline-block {
	display: inline-block;
}

.dashboard-tab-content {
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}

/* ################# Admin backend ################# */
.sidebar {
	width: 50px;
    height: 100vh;
    float: left;
    overflow: hidden;
    background: #222;
    position: fixed;
    color: #e6e6e6;

    .sidebar-header {
    	background: #4b4b4b;

    	.content {
    		padding: 10px 4px;
    	}
    }

    .sidebar-body {
    	.content {
    		padding: 10px 0;

    		ul.menu-items {
    			list-style: none;
    			padding: 0;

    			li {
    				border-bottom: 1px solid #353535;
    				padding: 2px 4px;

    				.badge {
    					position: absolute;
    					font-size: 10px;
    					right: 2px;
    				}

    				a {
    					text-decoration: none;
    					display: block;
    					padding: 5px;
					    font-size: 20px;
    					text-align: center;
    					font-weight: 500;
    					color: #e6e6e6;
    				}
    			}

    			li:hover, li.active {
    				background: #4a4a4a;
    				cursor: pointer;

    				a {
    					color: #fff;
    				}

    				/* a:after {
    					content: '\f105';
    					float: right;
    				} */
    			}
    		}
    	}
    }
}

.admin-content-header {
	.ft-buttons {
		margin-top: 20px;
    	text-align: right;

    	div {
    		display: inline-block;
    	}

    	.btn {
    		margin: 0;
    	}

    	.dropdown-menu {
    		font-size: 13px;
    	}
	}
}

.admin-content {
    width: calc(100vw - 50px);
    margin-left: 50px;
    height: 100vh;
    overflow: auto;

    .nav-tabs > li.active > a {
    	background-color: #fdfef7;
    }

    .tab-content {
    	padding: 20px 10px;
    }

    .grid-table {
    	width: 100%;
    	font-size: 13px;

    	tr {
    		cursor: pointer;
    		border-bottom: 2px solid #fdfef7;

    		td, th {
    			padding: 5px 3px;
    		}

    		td:first-child {
    			padding-left: 5px;
    		}
    		
    	}

    	tr.unread {
    		background-color: #b9b9b9 !important;
    	}

    	tr.grid-row:hover {
    		background-color: #ddd !important;
    	}

    	tr.grid-row:nth-child(odd) {
    		background-color: #eee;
    	}

    	.ft-status-icon {
    		font-size: 18px;
    	}
    }

    .ft-button-group {
    	margin-bottom: 20px;
    }

    hr {
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
}

.no-data {
	position: relative;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    color: #969696;
    text-align: center;
    font-weight: 500;
}

.message-details {
	font-size: 13px;
	border-bottom: 1px dashed #ddd;
    margin-bottom: 15px;
}

.error-page {
    padding-top: 100px;
    text-align: center;
    color: #7b7b7b;
    height: 55.55vh;
}

.pagination-row-count {
	margin-top: 20px;
	font-weight: 500;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker { 
	0% {opacity: 1; }
	25% { opacity: 1; color: #000; } 
  	50% { opacity: 0; }
  	75% { opacity: 1; color: #000; } 
  	100% { opacity: 1; } 
}

.spinner {
  	width:60px;
	height:60px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	margin:-30px 0 0 -30px; /* is width and height divided by two */
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #7b7b7b;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}