    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-adjustment:before { content: "\f100"; }
.flaticon-allocation:before { content: "\f101"; }
.flaticon-allocation-1:before { content: "\f102"; }
.flaticon-arrow:before { content: "\f103"; }
.flaticon-arrow-1:before { content: "\f104"; }
.flaticon-assembly-area:before { content: "\f105"; }
.flaticon-black-and-white:before { content: "\f106"; }
.flaticon-brush-history:before { content: "\f107"; }
.flaticon-contrast:before { content: "\f108"; }
.flaticon-crop:before { content: "\f109"; }
.flaticon-crop-perspective:before { content: "\f10a"; }
.flaticon-curves:before { content: "\f10b"; }
.flaticon-drop:before { content: "\f10c"; }
.flaticon-eraser:before { content: "\f10d"; }
.flaticon-fragments:before { content: "\f10e"; }
.flaticon-free-transport:before { content: "\f10f"; }
.flaticon-group-selection:before { content: "\f110"; }
.flaticon-hand:before { content: "\f111"; }
.flaticon-history-brush:before { content: "\f112"; }
.flaticon-lasso:before { content: "\f113"; }
.flaticon-levels:before { content: "\f114"; }
.flaticon-line-tool:before { content: "\f115"; }
.flaticon-live-paint:before { content: "\f116"; }
.flaticon-magnifiying-glass:before { content: "\f117"; }
.flaticon-mirror:before { content: "\f118"; }
.flaticon-move-content:before { content: "\f119"; }
.flaticon-note:before { content: "\f11a"; }
.flaticon-paint-brush:before { content: "\f11b"; }
.flaticon-paint-brush-1:before { content: "\f11c"; }
.flaticon-paint-bucket:before { content: "\f11d"; }
.flaticon-paint-selection:before { content: "\f11e"; }
.flaticon-patch-crop:before { content: "\f11f"; }
.flaticon-pen:before { content: "\f120"; }
.flaticon-pen-1:before { content: "\f121"; }
.flaticon-pen-2:before { content: "\f122"; }
.flaticon-pencil:before { content: "\f123"; }
.flaticon-pipette:before { content: "\f124"; }
.flaticon-red-eye:before { content: "\f125"; }
.flaticon-ruler:before { content: "\f126"; }
.flaticon-scissors:before { content: "\f127"; }
.flaticon-search:before { content: "\f128"; }
.flaticon-sharpen:before { content: "\f129"; }
.flaticon-smudge:before { content: "\f12a"; }
.flaticon-spraying:before { content: "\f12b"; }
.flaticon-stamp:before { content: "\f12c"; }
.flaticon-stamp-1:before { content: "\f12d"; }
.flaticon-text:before { content: "\f12e"; }
.flaticon-tilt:before { content: "\f12f"; }
.flaticon-transition:before { content: "\f130"; }
.flaticon-turn:before { content: "\f131"; }
    
    $font-Flaticon-adjustment: "\f100";
    $font-Flaticon-allocation: "\f101";
    $font-Flaticon-allocation-1: "\f102";
    $font-Flaticon-arrow: "\f103";
    $font-Flaticon-arrow-1: "\f104";
    $font-Flaticon-assembly-area: "\f105";
    $font-Flaticon-black-and-white: "\f106";
    $font-Flaticon-brush-history: "\f107";
    $font-Flaticon-contrast: "\f108";
    $font-Flaticon-crop: "\f109";
    $font-Flaticon-crop-perspective: "\f10a";
    $font-Flaticon-curves: "\f10b";
    $font-Flaticon-drop: "\f10c";
    $font-Flaticon-eraser: "\f10d";
    $font-Flaticon-fragments: "\f10e";
    $font-Flaticon-free-transport: "\f10f";
    $font-Flaticon-group-selection: "\f110";
    $font-Flaticon-hand: "\f111";
    $font-Flaticon-history-brush: "\f112";
    $font-Flaticon-lasso: "\f113";
    $font-Flaticon-levels: "\f114";
    $font-Flaticon-line-tool: "\f115";
    $font-Flaticon-live-paint: "\f116";
    $font-Flaticon-magnifiying-glass: "\f117";
    $font-Flaticon-mirror: "\f118";
    $font-Flaticon-move-content: "\f119";
    $font-Flaticon-note: "\f11a";
    $font-Flaticon-paint-brush: "\f11b";
    $font-Flaticon-paint-brush-1: "\f11c";
    $font-Flaticon-paint-bucket: "\f11d";
    $font-Flaticon-paint-selection: "\f11e";
    $font-Flaticon-patch-crop: "\f11f";
    $font-Flaticon-pen: "\f120";
    $font-Flaticon-pen-1: "\f121";
    $font-Flaticon-pen-2: "\f122";
    $font-Flaticon-pencil: "\f123";
    $font-Flaticon-pipette: "\f124";
    $font-Flaticon-red-eye: "\f125";
    $font-Flaticon-ruler: "\f126";
    $font-Flaticon-scissors: "\f127";
    $font-Flaticon-search: "\f128";
    $font-Flaticon-sharpen: "\f129";
    $font-Flaticon-smudge: "\f12a";
    $font-Flaticon-spraying: "\f12b";
    $font-Flaticon-stamp: "\f12c";
    $font-Flaticon-stamp-1: "\f12d";
    $font-Flaticon-text: "\f12e";
    $font-Flaticon-tilt: "\f12f";
    $font-Flaticon-transition: "\f130";
    $font-Flaticon-turn: "\f131";